.introducao {
  max-width: 1400px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 5.5rem;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 800px) {
  .introducao h1 {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .introducao {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .introducao h1::before {
    width: 130px;
    height: 80px;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .introducao h1::before {
    position: absolute;
    left: 0px;
  }
}

@media (min-width: 100px) and (max-width: 450px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao h1::before {
    left: -10px;
  }

  .voce {
    display: none;
  }
}
